.jumbotron {
     background-color: gray;
     text-align: center;
     color: white;
     position: fixed;
     top:0;
     width: 100%;
     z-index: 1;
}
.container{
     padding-top: 10%;
     margin-top: 10%;
     cursor: pointer;
}
.searchRow {  
     color: gray;
     margin-left: 12px;
}
.card{
     height: 100%;
     border: 1px solid gray;
     padding: 10px;
     margin-left: auto;
}